[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/inifile_cpp"]
	path = external/inifile_cpp
	url = https://github.com/Rookfighter/inifile-cpp.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/MathLib"]
	path = external/MathLib
	url = https://github.com/NVIDIA-RTX/MathLib.git
[submodule "external/Observe"]
	path = external/Observe
	url = https://github.com/TheLartians/Observe.git
