[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/inifile_cpp"]
	path = external/inifile_cpp
	url = https://github.com/Rookfighter/inifile-cpp.git
